
*{
	padding: 0;
	margin: 0;
	border: 0; 
	word-break: break-word;
	outline: 0;
}

body{
	 font-family: Arial, Helvetica, sans-serif;
	 font-size: 13px;
	 color: #272727;
}

.clearUl{
	margin: 0;
	list-style-type: none;
}

.clearUl li{
	display: inline-block;
	margin: 0 4px;
}

input[type="radio"]{
	margin: 0;
	vertical-align: sub;
}

/*Index Page Starts*/

.topMenu{
	text-align: right;
	padding: 3px 30px 30px 0;
}

.topLogo{
	float: left;
	margin-left: 5px;
}

#logoMart{
	font-size: 27px;
    margin-left: 12px;
}

.header{
	background-color: #003366;
	padding: 5px;
	margin-bottom: 20px;
	font-size: 14px;
	color: #fff;
}

.topMenu{
	overflow: hidden;
	padding: 0 72px 30px 0;	
}

    
.topMenu li{
	display: inline-block;
	background-color: #044583;
	border-radius: 2px;
	margin: 0 2px;
}

.topMenu li.selectedMenu, .topMenu li:hover{
	background-color: #0078f2;
}

.topMenuLink li a{
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 4px 12px;
}

.footer{
	color: #333333;
    margin: 30px 0;
    border-top: 1px solid #CCCCCC;
}

.footerSpan{
	float: right;
	margin: 5px 3%;	
}

/*Index Page Ends*/

.clearer{
	clear: both;
	height: 0;	
}



/*Layout HomePage*/

#slides{
	margin: 0px 0 0 20px;
}

.sliderImages{
	width: 100%;
	height: 100%;
}

#leftColum{
	float:left;
	width: 70%;
}

#rightColum{
	float: left;
	margin-left: 24px;
    width: 25%;
}

.botChart{
	margin-top: 20px;
}


.mainContent{
	 margin-left: 15px;
}

.mainContentLogos{
	margin-top: 15px;
	margin-left: 35px;
	float: left;
	width: 90%;
}

.mainContentLogos:after{
	clear: both;
}


.mainContentLogos a img{
	margin: 6px;
	width: 150px;	
}

.clumTitle{
	font-weight: bold;
	font-size: 15px;	
	display: block;
	padding: 3% 0% 2% 4%;
	background-color: #486C90;
	border-radius: 3px 3px 0px 0px;
	color: #FFFFFF;
}

.clumContnt{
	display: block;
	background-color: #F2F2F2;
	padding: 3% 3% 7% 4%;
}

.clum1, .clum2, .clum3{
	float:left;
	width: 32%;
	height: auto;
	word-wrap: break-word;
	border-bottom: 1px solid #85CBEF;
    overflow: hidden;
	margin-top: 12px;
}

.clum2{
	margin-left: 1.5%;
	margin-right: 1.5%;	
}

.clum1{
	margin-left: 6px;
}

.mainContentLogos h4{
	color: #333333;
}

/*About Page*/

.testimonial{
	word-wrap: break-word;
	background-color: #3E87D1;
    border-radius: 3px;
    line-height: 20px;
 	padding: 2% 2% 4%;
    -moz-box-shadow: 0 0 5px #354a0d;
	-webkit-box-shadow: 0 0 5px #354a0d;
	box-shadow: 0 0 5px #354a0d;
	margin: 10px;
}

.clum21, .clum22{
	float:left;
	height: auto;
	word-wrap: break-word;
	overflow: hidden;
	border-bottom: 1px solid #85CBEF;
	margin-top: 12px;
}

.clum21{
	margin-left: 6px;
	width:65%;
}

.clum22{
	width:33%;
	margin-left: 1%;
}

.clumTitle.padAdju{
	padding: 1.5% 0% 1.5% 2%;
}

.clum22 .clumTitle{
	padding: 3% 0 3% 4%;
}
/* --Data Page-- */

.leftDataColmn, .rghtDataColmn, .midDataColmn{
	color: #333333;
	float: left;
	padding: 0 1%;
}

.leftDataColmn{
	width: 10%;
	min-width: 150px;
	border-right: 1px dotted #003366;
}


.leftDataColmn ul{
	margin: 0px;
}

.leftDataColmn ul li{
	list-style-type: none;
}

.midDataColmn{
	width: 35%;
	border-right: 1px dotted #003366;
}

.rghtDataColmn{
	width: 45%;
}

.tabsClass{
	font-weight: bold;
}

.tabsClass a{
	border-radius: 0px !important;	
}

.nav-tabs {
    border-bottom: 1px solid #85cbf0;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus{
	border-color: #85cbf0 #85cbf0 rgba(0, 0, 0, 0);
	color: #003366;
}


.nav-tabs > li > a {
	background-color: #003366;
	color: #FFFFFF;
	padding-bottom: 3px;
    padding-top: 3px;
    cursor: pointer;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    background-color: #FFFFFF;
    color: #003366;
    border-color: #85cbf0;
}

.dataHead{
	width: 65%;
	float: left;
}

.accordion-heading{
 	background-color: #486C90;
	border-radius: 3px 3px 0 0;
	font-weight: bold;
	font-size: 15px;
	color: #FFFFFF;
}

.accordion-heading a{
	color: #FFFFFF;
	text-decoration: none;
}
 
.accordion-group{
	border-bottom: 1px solid #85CBEF;
	border-radius: 3px 3px 0 0;
	max-height: 250px;
}

.accordion-inner{
	background-color: #f2f2f2;	
}

.dsetContainer ul, .bysctor ul {
	margin: 0px;
}

.dsetContainer ul li{
	list-style: none;
	margin: 20px 0;	
	background-color: #eef3f5;
}

.dsetContainer ul li:hover{
	background: #FFFFFF;
	cursor: pointer;
}

.thumbImg {
	height: 80px;
	margin-right: 10px;
	border: solid 1px #f2f2f2;
	float: left;	
}

.thumbImg img{
	max-width: 80px;
	max-height: 80px;	
}

.dataDetails{
	height: 80px;
    overflow: hidden;	
    float: left;
    width: 75%;
}

.aftrdata{
    border-bottom: 1px dotted;
    float: left;
    height: 80px;
    width: 4%;
}

.modal.fade.in{
	background-color: #f9f9f9;
}

.rightTbleView{
	width: 80%; 
	float: left;
}

.rightTbleView .btn{
	margin-left: 10px;	
}

.rightTbleView .btn{
	margin-left: 10px;	
}

.rightTbleView .btn:nth-child(1){
	margin-left: 0px;
}

#sideDiv .thumbnail{
	min-height: 200px;
    min-width: 60px;	
}


#sideDiv .thumbnail .btn{
 	transform: rotate(270deg);	
 	-webkit-transform: rotate(270deg);	
	-ms-transform: rotate(270deg);
}

#sideDiv .thumbnail .btn:nth-child(1){
	transform-origin: 32px 20px 0;	
	-webkit-transform-origin: 32px 20px 0;	
	-ms-transform-orgin: 32px 20px 0 !mportant;	
}

#sideDiv .thumbnail .btn:nth-child(2){
	transform-origin: 50px 38px 0;
	-webkit-transform-origin: 50px 38px 0;	
	-ms-transform-orgin: 50px 38px 0;	
}

#sideDiv .thumbnail .btn:nth-child(3){
	transform-origin: 68px 56px 0;	
	-webkit-transform-origin: 68px 56px 0;	
	-ms-transform-orgin:68px 56px 0;	
}

.emptyDiv{
	float: left;
	min-width: 92px;
}

/* Browse Tab in Data Page*/

.countryListBrowse{
	padding: 0 1%;
}

.countryListBrowse h3{
	color: #333333;
}

/*Button custom style*/

button, input[type="button"], input[type="submit"], .btn{
    background-color: #42a6da;
    border: solid 1px #2d87cd;
    padding: 4px;
    color: #FFFFFF;
    border-radius: 3px;
    display: inline-block;
    min-width: 45px;
    text-align: center;
}

button:hover, .btn-info:hover {
    background-color: #357AE8;
    cursor: pointer;
}


/* Modal Popup adjustview */

.adjusModal{
	width: 99.8%;
	height: 99%;
	left: 0;
	top: 0 !important;
	position: absolute;
	margin-left: 0px;
}


#appndTable{
	max-height: 420px;
	width: 100%;
	float: left;
	overflow: auto;
}

.fntClr{
	color: #333333;
}

#TC1, .TC1{
	width: 96%;
	border: 1px solid #CCCCCC;
    padding: 5px;
}

.TC1{
margin-top: 10px;
}

.headTitle{
	color: #003366;
	font-size: 14px;
	font-weight: bold;
}

.widAdj1{
	width: 90%;
	min-height: 50px;
}

.widAdj2{
	min-width: 200px;
}

.widAdj2 div{
	margin-right: 6px;
}

.widAdj2 .thumbnail{
	min-height: 52px;
	min-width: 250px;
}

.widAdj1 .caption{
	min-width: 60px;
}


/*Infiniti Page*/

.inificontainer{
	margin: 0 auto;
	width: 70%;	
}

.leftsideinfi{
	float: left;
	width: 30%;
	text-align: center;
	padding: 10px;
}

.andrmobile{
	margin: 10px;
	border: solid 1px #333333;
	float: left;
}

.rghtsideinfi{
	padding: 10px;
}

/* Screens ----------- */

@media only screen and (max-width : 641PX){

		
.topLogo {
    float: none;
    margin-left: 0px;
    text-align: center;
}

.topMenu {
    overflow: auto;
    padding: 0;
    text-align: center;
}

.topMenu ul{
    margin: 0
}

.topMenu ul li{
    margin: 0;
}

.topMenuLink li a{
	padding: 4px 10px;
}

#leftColum{
    float: none;
    width: 100%;
}

.mainContent{
    margin: 0px;
}

#slides{
	margin: 10px;
}

.clum1, .clum2, .clum3, .clum21, .clum22{
    float: none;
    width: 94%;
    margin: 10px;
    overflow: hidden;
}

.mainContentLogos{
    float: none;
    margin: 0px;
    width: 100% ;
}

#rightColum{
    float:none;
    width: 98% ;
    margin: 0 3px;
}

.topChart, .botChart{
    margin: 0px;
    width: 94%;
    margin: 0px 3px;
    text-align: center;
}

.leftsideinfi, .rghtsideinfi{
	float: none;
	width: 100%;
}

.leftDataColmn{
    float: none;
    width: 96%;
    border-right: none;
}

.midDataColmn{
    border-right: medium none;
    width: 96%;
}

.dataDetails{
	width: 65%;
}

.rghtDataColmn{
	width: 96%;
}

.inificontainer{
	width: 85%;
}

}



@media only screen (max-width : 800PX) {

.clum2{
	margin-left: 1%;
	margin-right: 1%;	
}

}

@media only screen and (min-width : 630PX) and (max-width : 641PX){
	.leftDataColmn{
		border-right: 1px dotted #003366;
    	width: 10%;
    	float: left;
	}
	.midDataColmn{
		width: 70%;
	}
	.dataDetails{
		width: 75%;
	}
}

@media only screen and (min-width : 1125PX) and (max-width : 1140PX){
	.midDataColmn{
		width: 40%;
	}
	.rghtDataColmn{
		width: 40%;
	}
}


@media only screen and (min-width : 642PX) and (max-width : 810PX){

.clum2{
	margin-left: 1.3%;
	margin-right: 1.3%;	
}


.clum22{
	width: 32%;
}

}


@media only screen  and (min-width : 642PX) and (max-width : 1025PX) {
	
.midDataColmn{
    width: 75%;
    border-right: none;
}

.rghtDataColmn{
    float: none;
    width: 96%
}

.dataHead{
    width: 100%;
}

}

@media only screen and (max-width : 250PX) {
#logoMart{
    display: inline-block;
}

.topMenu ul li{
    width: 98%;
    margin: 2px;
}

.dataDetails{
    width: 55%;
}

.footerSpan{
    float: none;
}

}
/* Some Table design for .studDetails */
	

table.studDetails a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
.datstble {
    border-collapse: inherit !important;
    border-spacing: 3px !important;
    float: left !important;
}

table.studDetails a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
table.studDetails a:active,
table.studDetails a:hover {
	color: #bd5a35;
	text-decoration:underline;
}

.tbleStru{
	overflow: auto;
	width: 96%;
	max-height: 400px;	
}

table.studDetails {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:20px 20px 20px 10px;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	width: 96%;
	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}

table.studDetails tr {
	text-align: center;
}

table.studDetails td {
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table.studDetails tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}

table.studDetails tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}
.mapChoosefnt{
	color: #274B6D;
    cursor: pointer;
    fill: #274B6D;
    font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;	
}
.countryDiv{
max-height: 250px;
}