<div class="header">
		 	 <div class="topLogo"><img src="images/logos/ashokaLogo.png"><span id="logoMart">Ashoka Stats</span></div>
		 <div class="topMenu">
		 	<nav>
		 		<ul class="topMenuLink">
		 			<li><a href="" id="closepop">Close</a></li>
		 		</ul>
		 	</nav>
		 </div>
</div>
<div class="mainContainer">
<tabset>
   	<tab heading="Tabular" class="tabsClass">
	<div id="appndTable"></div>
	</tab>
	<tab heading="Charts" class="tabsClass chartclass">
		<div id="TC1"></div>
	</tab>
</tabset>
</div>	