<div class="mainContainer">
  <!-- Left Column Starts -->
  <div id="leftColum">
    <div class="indexBanner">
      <div id="slides">
        <a href=""><img class="sliderImages" src="images/slider01.jpg"></a>
        <a href=""><img class="sliderImages" src="images/slider02.jpg"></a>
      </div>
    </div>
    <div class="mainContent">
      <div class="clum1">
        <span class="clumTitle">First Column Title</span>
        <span class="clumContnt"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p></span>
      </div>
      <div class="clum2">
        <span class="clumTitle">Second Column Title</span><span class="clumContnt"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p></span>
      </div>
      <div class="clum3">
        <span class="clumTitle">Third Column Title</span><span class="clumContnt"><p>Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></span> 
      </div>
      <div class="clearer"></div>
    </div>
    <div class="mainContentLogos">
      <h4>Partners</h4>
      <a href=""><img src="images/logos/CEB-logo.jpg"></a><a href=""><img src="images/logos/Latham-logo.jpg"></a><a href=""><img src="images/logos/McKinsey-logo.jpg"></a><a href=""><img src="images/logos/CEB-logo.jpg"></a><a href=""><img src="images/logos/Latham-logo.jpg"></a>
    </div>
  </div>
  <!-- Right Column Starts -->
  <div id="rightColum">
    <div id="TC1" class="topChart">
      <!-- <img src="images/chartImg1.jpg">--> 
    </div>
    <!--<div class="fntClr" style="text-align: center">
      <ul class="clearUl mapChoosefnt">
      	<li><input type="radio" name="selecttype" value="line" checked>Line Type</li>
      	<li><input type="radio" name="selecttype" value="area">Area Type</li>
      	<li><input type="radio" name="selecttype" value="bar">Bar Type</li>
      </ul>
      </div>-->
    <div class="TC1" class="botChart"><img src="images/chartImg2.jpg"></div>
  </div>
  <div class="clearer"></div>
</div>