<div class="mainContainer">
	
	<!-- Left Column Starts -->
	<div id="leftColum">
		<div class="indexBanner">
			<div id="slides">
			    <a href=""><img class="sliderImages" src="images/banner1.jpg"></a>
			</div>
		</div>
		<div class="mainContent">
			<div class="clum1">
				<p class="clumTitle">First Column Title</p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
			</div>
			<div class="clum2">
				<p class="clumTitle">Second Column Title</p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
			</div>
			<div class="clum3">
				<p class="clumTitle">Third Column Title</p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
			</div>
			<div class="clearer"></div>
		</div>
		<div class="mainContentLogos">
			<h4>Partners</h4>
			<a href=""><img src="images/logos/partnerLogo1.jpg"></a><a href=""><img src="images/logos/partnerLogo1.jpg"></a><a href=""><img src="images/logos/partnerLogo1.jpg"></a><a href=""><img src="images/logos/partnerLogo1.jpg"></a><a href=""><img src="images/logos/partnerLogo1.jpg"></a><a href=""><img src="images/logos/partnerLogo1.jpg"></a><a href=""><img src="images/logos/partnerLogo1.jpg"></a><a href=""><img src="images/logos/partnerLogo1.jpg"></a><a href=""><img src="images/logos/partnerLogo1.jpg"></a><a href=""><img src="images/logos/partnerLogo1.jpg"></a><a href=""><img src="images/logos/partnerLogo1.jpg"></a><a href=""><img src="images/logos/partnerLogo1.jpg"></a>
		</div>		
	</div>
	<!-- Right Column Starts -->
	<div id="rightColum">
		<div id="TC1" class="topChart"><!-- <img src="images/chartImg1.jpg">--> </div>
		<div id="TC2" class="botChart"><img src="images/chartImg2.jpg"></div>
	</div>
	<div class="clearer"></div>
		
</div>